---
import Title from '../Title.astro'
import data from '../../data.json' assert { type: 'json' }

const { title, paragraphs, testimonials } = data.Testimonials
---

<article class='w-full bg-light-dark'>
  <article class='lg:max-w-[1500px] lg:m-auto p-8 grid gap-8'>
    <article class='flex lg:flex-row flex-col gap-4 justify-between lg:items-end'>
      <section class='prose-lg'>
        <Title text={title} />
        {paragraphs.map((e) => <p class='prose dark:prose-invert'>{e}</p>)}
      </section>
    </article>
    <section class='not-prose grid grid-cols-1 lg:grid-cols-2 gap-4'>
      {
        testimonials.map((testimonial) => (
          <section class='glassmorphism p-4 rounded-lg shadow-md  grid gap-2'>
            <section class='text-center'>
              <p class='font-semibold font-basicaline text-xl mt-2'>{testimonial.author}</p>
              {/* <span class='border border-solid border-primary w-40 m-auto block h-0 rounded-xl'>s</span> */}
              <p class='text-sm'>{testimonial.profession}</p>
            </section>
            <p class='italic prose dark:prose-invert font-semibold'>
              <span class='text-primary font-bold text-xl'>"</span> {testimonial.quote} <span class='text-primary font-bold text-xl'>"</span>
            </p>
          </section>
        ))
      }
    </section>
  </article>
</article>
