---
import Layout from '../layouts/Layout.astro'
import data from '../data.json' assert { type: 'json' }
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Card from '../components/Card.astro'
import IconPhone from '../components/icons/IconPhone.astro'
import IconEmail from '../components/icons/IconEmail.astro'
import IconAddress from '../components/icons/IconAddress.astro'
import ContactInfo from '../components/ContactInfo.astro'

const { training, contact } = data
const about = data.about
---

<Layout>
  <Header />

  <main class='max-w-[1500px] m-auto flex flex-col gap-16 pt-10 p-4'>
    <article id='training' class='prose-lg dark:prose-invert'>
      <Title text={training.title} />
      <p>{training.paragraphs}</p>
      <article class='flex lg:flex-row flex-col gap-4 justify-between'>
        <section class='not-prose flex flex-col gap-4'>
          {training.list.map((e) => <Card title={e.title} description={e.description} />)}
        </section>
        <img src='/conference.svg' alt='' class='w-80' />
      </article>
    </article>

    <article id='about' class='prose-lg dark:prose-invert'>
      <Title text='About Us' />
      <article class='flex lg:flex-row flex-col gap-4'>
        <section>
          {about.map((e) => <p>{e}</p>)}
        </section>
        <img src='/team.svg' alt='Our_Team' class='w-100 m-auto' />
      </article>
    </article>

    <article id='contact' class='prose-lg dark:prose-invert'>
      <Title text='Contact US' />
      <article class='flex lg:flex-row flex-col gap-4'>
        <article>
          {contact.paragraphs.map((e) => <p>{e}</p>)}

          <article class='flex flex-col gap-4'>
            <ContactInfo title='Phone' text='+1 234 567 890'><IconPhone slot='icon' /></ContactInfo>
            <ContactInfo title='Email' text='contact@themidasgroup.co'><IconEmail slot='icon' /></ContactInfo>
            <ContactInfo title='Address' text='1234 Training Lane, Skill City, ST 56789'><IconAddress slot='icon' /></ContactInfo>
          </article>
        </article>
        <img src='/contact-us.svg' alt='Contact Us' class='w-100' />
      </article>
    </article>
  </main>
  <footer>
    <section>
      <h3>Attribute</h3>
      <a href='https://storyset.com/business' target='_blank'>Business illustrations by Storyset</a>
    </section>
  </footer>
</Layout>
