---
import Layout from '../layouts/Layout.astro'
import data from '../data.json' assert { type: 'json' }
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Card from '../components/Card.astro'
const { training, contact } = data
const about = data.about
---

<Layout>
  <Header />

  <main class='max-w-[1500px] m-auto flex flex-col gap-16 pt-10 p-4'>
    <article id='about' class='prose-lg dark:prose-invert'>
      <Title text='About Us' />
      <article class='flex lg:flex-row flex-col gap-4'>
        <section>
          {about.map((e) => <p>{e}</p>)}
        </section>
        <img src='/public/team.svg' alt='Our_Team' class='w-100 m-auto' />
      </article>
    </article>

    <article id='training' class='prose-lg dark:prose-invert'>
      <Title text={training.title} />
      <p>{training.paragraphs}</p>

      <article class='not-prose grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4'>
        {training.list.map((e) => <Card title={e.title} description={e.description} />)}
      </article>
    </article>

    <article id='contact' class='prose-lg dark:prose-invert'>
      <Title text='Contact' />
      <article class='flex lg:flex-row flex-col gap-4'>
        <section>
          {contact.paragraphs.map((e) => <p>{e}</p>)}
          <ul>
            <li>Email: <a href='mailto:' class='text-blue-500 hover:underline'>midas_touch@gmail.com</a></li>
            <li>Phone: <a href='tel:+1234567890' class='text-blue-500 hover:underline'>+1 234 567 890</a></li>
            <li>Address: 1234 Training Lane, Skill City, ST 56789</li>
          </ul>
        </section>
        <img src='/public/contact-us.svg' alt='Contact Us' class='w-100' />
      </article>
    </article>
  </main>
  <footer>
    <section>
      <h3>Attribute</h3>
      <a href='https://storyset.com/business' target='_blank'>Business illustrations by Storyset</a>
    </section>
  </footer>
</Layout>
