---
import Layout from '../layouts/Layout.astro'
import data from '../data.json' assert { type: 'json' }
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'
import Card from '../components/Card.astro'
const { training } = data
const about = data.about
---

<Layout>
  <Header />

  <main class='max-w-[1500px] m-auto flex flex-col gap-16 pt-10 p-4'>
    <article id='about' class='prose-lg dark:prose-invert'>
      <Title text='About Us' />
      <article class='flex lg:flex-row flex-col gap-4'>
        <section>
          {about.map((e) => <p>{e}</p>)}
        </section>
        <img src='../../public/team.svg' alt='Our_Team' class='w-100 m-auto' />
      </article>
    </article>

    <article id='training' class='prose-lg dark:prose-invert'>
      <Title text={training.title} />
      <p>{training.description_1}</p>
      <article class='not-prose grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4'>
        {training.list.map((e) => <Card title={e.title} description={e.description} />)}
      </article>
      <p>{training.description_2}</p>
    </article>

    <article id='contact' class='prose-lg dark:prose-invert'>
      <Title text='Contact' />
      <p>If you are interested in our training programs or have any questions, please do not hesitate to contact us. We are here to help you take the next step in your professional journey.</p>
      <p>
        Email: <a href='mailto:' class='text-blue-500 hover:underline'> </a>
      </p>
    </article>
  </main>
  <footer>
    <section>
      <h3>Attribute</h3>
      <a href='https://storyset.com/business'>Business illustrations by Storyset</a>
    </section>
  </footer>
</Layout>
