---
import Layout from '../layouts/Layout.astro'
import data from '../data.json' assert { type: 'json' }
import Header from '../components/Header.astro'
import Title from '../components/Title.astro'

const { training } = data
const about = data.about
---

<Layout>
  <Header />

  <main class='max-w-[1500px] m-auto flex flex-col gap-16 pt-10'>
    <article id='about' class='prose-lg dark:prose-invert'>
      <Title text='About Us' />
      <section>
        {about.map((e) => <p class=''>{e}</p>)}
      </section>
    </article>

    <article id='training' class='prose-lg dark:prose-invert'>
      <Title text={training.title} />
      <p>{training.description_1}</p>
      <article class='no-prose'>
        {
          training.list.map((e) => (
            <details class='mb-4'>
              <summary>{e.title}</summary>
              <p>{e.description}</p>
              {e.list && e.list.length > 0 && (
                <ul>
                  {e.list.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              )}
            </details>
          ))
        }
      </article>
      <p>{training.description_2}</p>
    </article>

    <article id='contact' class='prose-lg dark:prose-invert'>
      <Title text='Contact' />
      <p>If you are interested in our training programs or have any questions, please do not hesitate to contact us. We are here to help you take the next step in your professional journey.</p>
      <p>
        Email: <a href='mailto:' class='text-blue-500 hover:underline'> </a>
      </p>
    </article>
  </main>
</Layout>
